server:
  port: 3000
  bind: localhost
  debug-mode: false

database:
  host: localhost
  port: 5432
  db-name: postgres?sslmode=disable
  user: developer
  password: 123456
  pool-size: 2
  log-queries: true
