server:
  port: 3000
  bind: localhost
  debug-mode: false

database:
  host: localhost
  port: 5431
  db-name: hotel_service?sslmode=disable
  user: developer
  password: secretpassword
  pool-size: 2
  log-queries: true
